.balances-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.balances-btn {
    margin: 15px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #3751FF;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}