language: node_js
node_js: 11.15.0
before_deploy:
  - git config --global user.email ${GITHUB_EMAIL}
  - git config --global user.name ${GITHUB_USER}
  - git remote set-url origin "https://${GITHUB_TOKEN}@github.com/energywebfoundation/ew-did-registry.git" > /dev/null 2>&1
  - git reset --hard
  - echo "//registry.npmjs.org/:_authToken=\${NPM_API_TOKEN}" >> $HOME/.npmrc 2> /dev/null
install:
  - npm install
  - npm run setup
  - npm run build
  - npm run browserTest:build
script:
  - npm run test-rpc
  - npm run browserTest:run
deploy:
  - provider: script
    script: "git checkout master && npm run publish:canary"
    skip_cleanup: true
    on:
      branch: master
  - provider: script
    script: git checkout $TRAVIS_BRANCH && npm run publish:release"
    skip_cleanup: true
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH =~ /^release/
