language: node_js
node_js: 10.18.1
install:
  - npm install
  - npm run setup
  - travis_retry npm run build
  - npm run browserTest:build
script:
  - npm run test-rpc
  - npm run browserTest:run
deploy:
  provider: npm
  email: '$NPM_EMAIL'
  api_token: '$NPM_API_TOKEN'
  ffile_glob: true
  file: build/*
  skip_cleanup: true
